.page-container {
  max-width: calc(100vw - 0rem);
  max-height: calc(100vh - 0rem);
  width: 120rem; /* 80rem | 100vw */
  height: 100rem; /* 35rem | 100vh */
  height: 100vh;
  position: relative;
  position: relative;
  /* overflow: hidden; */
}

.page-grid-layout {
  display: grid;
  grid-template-columns: var(--sidebar--size) 1fr;
  gap: 0.5rem;
  grid-template-areas: "sidebar main";
}

.sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-rows: 1fr 10rem;
  overflow-y: auto;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-rows: 1fr 9rem;
  overflow-y: auto;
}

/* ? CHAT STYLE MAIN */

.message-container {
  display: flex;
  flex-direction: column-reverse;
  padding: 1rem 2rem;
  overflow-y: auto;
}

.message-row {
  display: flex;
}

.message-row span {
  /* background-color: #323232d9; */
  color: white;
  padding: 1rem 1rem;
  border-radius: 5px;
  max-width: 50rem;
  font-size: 1.15rem;
  overflow-y: auto;
}

/* ? RESET STYLE */
.message-row h1,
.message-row h2,
.message-row h3,
.message-row h4,
.message-row h5,
.message-row h6,
.message-row p,
.message-row ul p {
  /* margin: 0; */
  color: white;
}

.message-row span pre {
  /* background: #151515e9; */
  font-size: 0.85rem;
  /* padding: 1em;
  overflow-x: auto;
  white-space: pre;
  border-radius: 6px;
  font-family: monospace;
  margin: 1rem 0; */
}

.message-row pre::-webkit-scrollbar:horizontal {
  height: 5px;
}
.message-row pre::-webkit-scrollbar-track {
  background: #999999;
  border: 2px solid transparent;
  border-radius: 20px;
}
.message-row pre::-webkit-scrollbar-thumb:hover {
  background: #303030;
}

.message-row:not(:first-child) {
  margin-bottom: 1rem;
}

.user-message {
  justify-content: flex-end;
}
.user-message span {
  background-color: rgb(11, 57, 57);
}

.input-container {
  padding: 1rem;
  border-top: 1px solid #9999997a;
}
.input-container input {
  width: 100%;
  height: 3rem;
  padding: 0 5rem 0 1rem;
}

.input-send {
  font-size: 1.5rem;
  position: absolute;
  right: 2rem;
  background-color: #151515;
  padding: 0.25rem;
  border-radius: 100px;
  color: white;
}

/* ? SIDEBAR */
.conversation-container {
  position: relative;
}

.conversation-header {
  padding: 0.5rem;
  border-bottom: 1px solid #9999997a;
}

.conversation-header button {
  width: 100%;
  /* padding: 1rem; */
  /* border-color: #343a40; */
  color: black;
}

.conversation-header button,
.conversation-header button:hover,
.conversation-header button:active {
  background-color: transparent;
}

.conversation-header button:hover {
  background-color: #323232d9;
  color: white;
  border-color: transparent;
}

.conversation-history {
  /* display: grid; */
  grid-template-columns: 1fr;
  padding: 0.5rem;
}

.conversation-row-date:not(:first-child) {
  margin-top: 2rem;
}

.conversation-row,
.conversation-row-date p {
  margin-bottom: 0;
}
.conversation-row-date p {
  font-weight: 600;
}

.conversation-row,
.conversation-row-date {
  padding: 0 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  overflow: hidden;
  line-height: 3;
  text-overflow: clip;
  padding-right: 1.25rem;
  position: relative;
}
.conversation-row:not(:last-child) {
  margin-bottom: 0.1rem;
}
.conversation-history:not(:last-child) .conversation-row:last-child {
  margin-bottom: 1rem;
}
.conversation-row:hover,
.conversation-row.active {
  background-color: #323232;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.conversation-container {
  margin-top: 0.5rem;
  overflow-y: auto;
}
.sidebar-menu {
  padding: 0 1rem;
}

.sidebar-menu button {
  width: 100%;
  margin-top: 0.5rem;
}

.conversation-row-delete {
  background: linear-gradient(to right, transparent 10%, #323232d9 20%);
}

.conversation-row-delete,
.delete-icon-2,
.conversation-row-delete:hover .delete-icon {
  display: none;
}
.conversation-row:hover .conversation-row-delete,
.delete-icon,
.conversation-row-delete:hover .delete-icon-2 {
  display: flex;
}

/* ? AUTH FORM */
.auth-container {
  position: absolute;
  padding: 1rem;
  width: 100%;
  height: 100%;
}

.auth-form .form-container:not(:last-child) {
  margin-bottom: 0.1rem;
}

.auth-container > h3 {
  margin-bottom: 1rem;
}

.auth-msg {
  margin-bottom: 0.5rem;
  color: rgb(60, 60, 193);
}

.auth-msg.error {
  color: rgb(255, 38, 38);
}

.auth-form button {
  margin: 1rem 0;
}
.auth-container a {
  color: rgb(94, 94, 211);
  text-decoration: none;
}

.auth-container a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.form-item:not(:last-child) {
  width: 100%;
}

.form-item button {
  width: 100%;
}

.profile-img {
  border-radius: 100px;
  overflow: hidden;
  max-width: 3rem;
  max-height: 3rem;
  border: 2px solid grey;
  position: relative;
}

.profile-img:hover::after {
  content: "";
  position: absolute;
  background-color: #00000033;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.profile-img:hover {
  border: 2px solid greenyellow;
}

.profile-img img {
  border-radius: 100px;
  width: 3rem;
  height: 3rem;
}

.profile-details h6 {
  margin-left: 1rem;
}

/* ? ADMIN LAYOUT */

.admin-container {
  /* background-color: red; */
  padding: 1rem;
  height: 100vh;
  overflow-y: hidden;
  padding-bottom: 2rem;
}

.admin-container h1 {
  font-weight: bold;
  /* background-color: red; */
  margin: 1rem 0;
  margin-bottom: 3rem;
}

.dashboard-statistics-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.statistic-item {
  background-color: wheat;
  height: 10rem;
  padding: 1.5rem 2rem;
  justify-content: space-between;
  border-radius: 5px;
}

.dashboard-users-container {
  position: relative;
  height: 22rem;
}

.dashboard-users-container h2 {
  margin-top: 2rem;
}

.dashboard-users-grid,
.users-grid-row {
  display: grid;
}

.dashboard-users-grid {
  grid-auto-rows: 3rem;
  gap: 0.5rem;
  overflow-y: auto;
  height: calc(100% - 2rem);
  /* background-color: red; */
}

.users-grid-row {
  grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
  /* background-color: blue; */
  gap: 0.5rem;
}

.users-grid-header {
  font-weight: bold;
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  z-index: 1;
}

.users-grid-item {
  position: relative;
}

.users-grid-item .profile-img {
  max-width: 2rem;
  max-height: 2rem;
  margin-right: 0.5rem;
}

.users-grid-item .profile-img img {
  width: 2rem;
  border: 1px solid gray;
}
